{% extends 'base_doctor.html' %}
{% load staticfiles %}

{% block title %}About{% endblock %}
{% block body_block %}
        <div class="page-header">
              <h1>ONECLICKVITALS</h1>
        </div>

        <p>Oneclickvitals is a class project by Yukhe Lavinia and Sirisha Dumpala for Verification & Validation (CPSC 542)</p>
        <p>This is an interactive medical record system software designed to assist doctor and thier staff in maintaining and managing patient records.</p>

{% endblock %}
