{% extends 'base_doctor.html' %}
{% load staticfiles %}
{% block title %}DiagnosisDetails{% endblock %}
{% block body_block %}
{% if user.is_authenticated %}

    <div class="page-header">

          <h1><i class="fa fa-stethoscope"></i> Diagnosis</h1>
    </div>
        <div class="container">
            <div class="table-responsive">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                      <th scope="row" class="col-md-2">Patient</th>
                      <td>{{diagnosis_info.patient.first_name}} {{diagnosis_info.patient.last_name}}</td>
                  </tr>
                  <tr>
                      <th scope="row" class="col-md-2">Date</th>
                      <td>{{diagnosis_info.diagnosis_date}}</td>
                  </tr>
                  <tr>
                      <th scope="row" class="col-md-2">Complaint</th>
                      <td>{{diagnosis_info.complaint}}</td>
                  </tr>
                  <tr>
                      <th scope="row" class="col-md-2">Diagnosis</th>
                      <td>{{diagnosis_info.diagnosis}}</td>
                  </tr>
                  <tr>
                      <th scope="row" class="col-md-2">Additional Comments</th>
                      <td>{{diagnosis_info.additional_comments}}</td>
                  </tr>
                  <tr>
                      <th scope="row" class="col-md-2">Follow Up Required</th>
                      {% if diagnosis_info.follow_up %}
                            <td>Yes</td>
                            {% else %}
                            <td>No</td>
                            {% endif %}
                  </tr>
                </tbody>
              </table>
            </div>
            <br/><br/>
         
        <h4><a class="btn btn-default" href="/appointment/"><i class="fa fa-calendar-o fa-lg"></i>  Make New Appointment</a></h4> 
        </div>


{% endif %}

{% endblock %}
